// $prefix: "indixpert-" !default;

$primary: #754ffe !default;
$secondary: #64748b !default;
$success: #38a169 !default;
$info: #0ea5e9 !default;
$warning: #f59e0b !default;
$danger: #dc2626 !default;
$light: #94a3b8 !default;
$dark: #0f172a !default;
